# Ignore files
*.txt
*.csv
*.pdf
*.nc
*.tif
*.tif.aux.xml
*.vrt
*.parquet
*.pkl
*.py[cod]

# Ignore specific folders
logs/
tmp/
output/
data/
venv/
papers/
__pycache__/


# Ignore system-specific files (Linux/Ubuntu, macOS, Windows leftovers)
*~
.DS_Store
Thumbs.db
